/* src/index.css */

@import "tailwindcss";

/* opcional: tus utilidades globales */

html,
body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}